Learning_Xml/WebContent/studentRule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
	   
 <xs:element name="empName">
  <xs:complexType>
   <xs:sequence>
     <xs:element name="name" type="xs:string"/>
     <xs:element name="age" type="xs:int"/>
      <xs:element name="dept" type="xs:string"/>
   </xs:sequence>
<xs:attribute name="title" type="xs:string"/>
</xs:complexType>

</xs:element>
     
</xs:schema>
